h2 {
  padding: 0;
  padding-bottom: 10px;
}

.block {
  width: 100vw;
  min-height: 100vh;
  padding: 2em 3em 4em 3em;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  background: white;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, #F6F6F6);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #F6F6F6);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #F6F6F6);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #F6F6F6);
  /* Standard syntax */
  -webkit-transition: .2s ease all;
  -moz-transition: .2s ease all;
  -ms-transition: .2s ease all;
  -o-transition: .2s ease all;
}

.block .material-icons {
  font-size: 50px;
  width: 50px;
  left: 50%;
  position: absolute;
  bottom: 30px;
  cursor: default;
  transform: translate(-50%, 0);
  display: block;
  -webkit-transition: .2s ease all;
  -moz-transition: .2s ease all;
  -ms-transition: .2s ease all;
  -o-transition: .2s ease all;
}

.block .material-icons:hover {
  font-size: 70px;
  width: 70px;
  left: 50%;
  position: absolute;
  bottom: 20px;
  cursor: default;
  transform: translate(-50%, 0);
  display: block;
}

table {
  border-collapse: collapse;
  display: inline;
}

tr:first-child {
  background-color: #0D47A1;
}

tr:nth-child(even) {
  background-color: white;
}

tr {
  background-color: #82B1FF;
}

th {
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  padding: 15px;
  color: white;
  text-align: left;
}

td {
  font-family: 'Roboto';
  padding: 15px;
  font-size: 16px;
}

td~td {
  text-align: right;
}

th~th {
  text-align: right;
}

#contact .material-icons {
  color: #FFFFFF;
  font-size: 100px;
  width: 100px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: default;
  display: block;
  text-decoration: none;
  -webkit-transition: .2s ease all;
  -moz-transition: .2s ease all;
  -ms-transition: .2s ease all;
  -o-transition: .2s ease all;
}

#contact .material-icons:hover {
  font-size: 120px;
  width: 120px;
  top: 10px;
  right: 10px;
}

#contact {
  position: relative;
  color: white;
  font-family: monospace;
  font-size: 16pt;
  background-color: #0D47A1;
  padding: 10px;
  box-sizing: border-box;
}

#contact p, #contact a {
  color: white;
}

#contact-cards {
  padding-right: 120px;
}

.contact-card {
  width: 475px;
  display: inline-block;
  margin: 0 15px;
  padding: 15px 0;
}

.divider {
  background-color: white;
  height: 100%;
  width: 2px;
  float: left;
  margin: 0 5px;
}

.clear {
  clear: both;
}

@media (max-width: 1165px) {
  .contact-card {
    display: block;
    width: auto;
  }

  .contact-card~.contact-card {
    border-top: 1px solid white;
  }
}

@media (max-width: 540px) {
  #contact p {
    font-size: 10pt;
    padding: 2px;
  }

  .contact-card {
    margin: 0 5px;
  }
}

@media (max-width: 523px) {
  #title {
    font-size: 34px;
  }
  .block h2 {
    font-size: 32px;
  }
  #download {
    width: 100%;
  }
  #download a {
    width: 100%;
  }
  table {
    display: block;
  }
  tbody {
    display: block;
  }
  tr {
    display: block;
    background-color: white;
  }
  tr:nth-child(even) {
    background-color: #82B1FF;
  }
  td {
    display: block;
  }
  td~td {
    padding-top: 0;
  }
  th {
    display: none;
  }
  .block .material-icons {
    bottom: 10px;
  }
}

@media (max-width: 340px) {
  #download a {
    font-size: 14px;
  }
}
