body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 6em;
  color: #0D47A1;
  margin: 0;
}

h2 {
  font-family: 'Josefin Slab', serif;
  font-weight: 100;
  font-size: 4em;
  color: #0D47A1;
  margin: 0;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 3em;
  color: #0D47A1;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  padding-bottom: 10px;
}

p {
  font-family: 'Arima Madurai', serif;
  font-weight: 300;
  font-size: 1.2em;
  margin: 0;
  padding: 10px 0;
  color: black;
}

a {
  text-decoration: none;
  color: #0D47A1;
}

.button {
  width: 300px;
  height: 40px;
  border: 1px solid #0D47A1;
}

.button a {
  width: 300px;
  height: 40px;
  color: #0D47A1;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  text-align: center;
  line-height: 40px;
}

.button:hover {
  transition: background-color 500ms cubic-bezier(.18,.89,.32,1.28);
  background-color: #0D47A1;
}

.button a:hover {
  color: white;
}
