#news {
  width: 80%;
  float: left;
}

time {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  color: black;
  float: right;
}

#news img {
  width: 100%;
  margin: 5px 0;
}

#share {
  width: 20%;
  float: right;
  padding: 0 20px;
  box-sizing: border-box;
}

.share-button {
  width: 50px;
  height: 50px;
  display: block;
  margin: 10px 0;
  cursor: pointer;
}

.share-button svg.icon {
  height: 100%;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #1da1f2;
}

.google-plus {
  background-color: #db4437;
}

.linkedin {
  background-color: #007bb5;
}

.clear {
  clear: both;
}
