#articles {
  width: 50%;
}

#date {
  display: inline-block;
  float: right;
}

#articles div span.read-more {
  font-weight: 600;
  color: #0D47A1;
}

#articles div img {
  width: 100%;
  margin: 5px 0;
}
