#articles {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#articles > div {
  flex: 1;
  margin: 0 10px;
}

time {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  color: black;
  float: right;
}

#articles div span.read-more {
  font-weight: 600;
  color: #0D47A1;
}

#articles div img {
  width: 100%;
  margin: 5px 0;
}

@media (mmax-width: 55em) {
  #articles > div {
    flex-basis: calc(50%);
  }
}
