<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpg "access 1 year"
    ExpiresByType image/jpeg "access 1 year"
    ExpiresByType image/gif "access 1 year"
    ExpiresByType image/png "access 1 year"
    ExpiresByType text/css "access 1 month"
    ExpiresByType text/html "access 1 month"
    ExpiresByType application/pdf "access 1 month"
    ExpiresByType text/x-javascript "access 1 month"
    ExpiresByType application/x-shockwave-flash "access 1 month"
    ExpiresByType image/x-icon "access 1 year"
    ExpiresDefault "access 1 month"
</IfModule>

Options -Indexes
DirectoryIndex index.html index.php
DirectorySlash Off

ErrorDocument 403 /error/403.html
ErrorDocument 404 /error/404.html
ErrorDocument 500 /error/500.html

RewriteEngine On
RewriteBase /

#Rewrite everything to https except when on localhost
RewriteCond %{HTTP_HOST} !localhost
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L,R=301]

#Remove file extension
#RewriteCond %{REQUEST_URI} \.(php)$
#RewriteRule ^(.*)[.] $1 [R,QSA,L]

#Remove trailing slash
RewriteCond %{REQUEST_URI} /$
RewriteRule ^(.*[^/])\/?$ $1 [R,QSA,L]

#Show the right file
#RewriteRule ^(.*)$ $1.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [QSA,L]
